<html>
<head>
<title>###GAME_NAME###</title>
###SCRIPT_INCLUDE###
###STYLE_INCLUDE###
</head>

<body onLoad="ggDisallowNav()">
<div align="center">
<div id="caption">###CAPTION###</div>
<div id="content">
	###CONTENT###
	<!-- ###MAPPINGS### -->
	<map name="###MAPPING_NAME###">
	<!-- ###AREAS### -->
		<area shape="###SHAPE###" coords="###COORDS###" href="###LINK###" ###ACTION_LINK### alt="###TITLE###"/>
	<!-- ###AREAS### -->
	</map>
	<!-- ###MAPPINGS### -->
</div>

<!-- ###DECISIONS### -->
<table id="decisions">
	<tr>
	<!-- ###ROW_DELIM### --></tr><tr><!-- ###ROW_DELIM### -->
	<!-- ###EMPTY_CELL### --><td></td><!-- ###EMPTY_CELL### -->

	<!-- ###DECISION### -->
	<td><a href="###LINK###" ###ACTION_LINK###>###TITLE###</a></td>
	<!-- ###DECISION### -->

	</tr>
</table>
<!-- ###DECISIONS### -->

</body>
</html>
