<html>
<head>
###SCRIPT_INCLUDE###
###STYLE_INCLUDE###
</head>
<body>
###CAPTION###
###CONTENT###
<!-- ###MAPPINGS### -->
<map name="###MAPPING_NAME###">
	<!-- ###AREAS### -->
	<area shape="###SHAPE###" coords="###COORDS###" href="###LINK###" ###ACTION_LINK### alt="###TITLE###"/>
	<!-- ###AREAS### -->
</map>
<!-- ###MAPPINGS### -->

<!-- ###DECISIONS### -->
<table border="1" width="100%">
	<!-- ###DECISION### -->
	<a href="###LINK###" ###ACTION_LINK###>###TITLE###</a>
	<!-- ###DECISION### -->
</table>
<!-- ###DECISIONS### -->
</body>
</html>
